Repository hashbang/gitops, pull requests merged in 2021-06, with the labels that each got.

#79 argocd: upgrade to 2.0.0
  argocd/files/grafana-dashboard-argocd.json
  argocd/kustomization.yaml
Labels: app:argocd

#80 monitoring/loki: upgrade to loki 2.2.1
  monitoring/loki/files/loki.yaml
  monitoring/loki/kustomization.yaml
  monitoring/loki/resources.yaml
Labels: app:monitoring

#81 ircd: upgrade oragono to 2.6.0
  ircd/kustomization.yaml
Labels: app:ircd
